body{
  background-color: #789;
}
#bodydiv{
  margin: auto;
  text-align: center;
  padding-top: 25px;
}
#header1{
  color: red;
  font-family: cursive;
}
.purpletext{
  color: purple;
}
